.css-padding {
    padding-left: 8rem;
    padding-right: 8rem;
}

@media (max-width: 991.98px) { /* Bootstrap's breakpoint for 'lg' */
    .css-padding {
        padding-left: 1rem;
        padding-right: 1rem;
    }
} 
  